# 0. Índice <a name="Contents"></a>
1. [Carregue a base ](#carregar)
2. [Conte o número de valores missing por variável.](#contar)
3. [Criar uma seleção dessa base somente com as colunas que interessam](#criar)
4. [Remova todos os registros com Apgar5 não preenchido](#remover)
5. [Observar as variáveis ['ESTCIVMAE', 'CONSULTAS']](#observar)
6. [Substitua os valores faltantes da quantitativa (QTDFILVIVO) por zero.](#substituir)
7. [Decida que valor te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' e preencha.](#decidir)
8. [Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.](#crie)
9. [Renomeie as variáveis para que fiquem no snake case, em letras minúsculas, com um underscore entre as palávras](#renomear)

# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
``` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

# 1. Carregar a Base  <a name="carregar"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import pandas as pd
import requests

# 1) seu código aqui
sinasc = pd.read_csv('SINASC_RO_2019.csv')
print(sinasc.shape)
sinasc.drop_duplicates().shape
# Não há duplicados

(27028, 69)

(27028, 69)

# 2. Conte o número de valores missing por variável.  <a name="contar"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

#### Soma de todas as linhas missings em todas as colunas da base

In [2]:
sinasc.isna().sum()

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

# 3. Criar uma seleção dessa base somente com as colunas que interessam  <a name="criar"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

#### Seleção com as colunas de interesse

In [3]:
sinasc = sinasc[
    [
        'LOCNASC', 
        'IDADEMAE', 
        'ESTCIVMAE', 
        'ESCMAE', 
        'QTDFILVIVO',
        'GESTACAO', 
        'GRAVIDEZ', 
        'CONSULTAS', 
        'APGAR5'
    ]
]

sinasc

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0

#### Refazendo a contagem de linhas missings em cada coluna de interesse

In [4]:
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

#### Somando a quantidade de linhas missings na coluna APGAR5

In [5]:
sinasc['APGAR5'].isna().sum()

103

# 4. Remova todos os registros com Apgar5 não preenchido  <a name="remover"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [6]:
print(f'Antes de remover os missings: ')
print('\n')

print(f'Total Linhas: \033[1;31m{sinasc.APGAR5.shape[0]}\033[0;0m | Linhas Missings: \033[1;31m{sinasc.APGAR5.isna().sum()}\033[0;0m')
print('\n')

print(f'Percentual a Remover: \033[1;31m{round((sinasc.APGAR5.isna().sum() * 100) / sinasc.APGAR5.shape[0], 2)}% \033[0;0m')

Antes de remover os missings:


Total Linhas: 27028 | Linhas Missings: 103


Percentual a Remover: 0.38%

#### Removendo os registros missings, com dropna, seleciono a coluna com subset e aplico a mudança no dataframe com inplace True

In [7]:
sinasc.dropna(subset=['APGAR5'], inplace=True)

print(f'Pós Remoção Dos Missings: ')
print('\n')

print(f'Total Linhas: \033[0;32m{sinasc.APGAR5.shape[0]}\033[0;0m | Linhas Missings Removidas: \033[0;32m{sinasc.APGAR5.isna().sum()}\033[0;0m')

Pós Remoção Dos Missings:


Total Linhas: 26925 | Linhas Missings Removidas: 0

# 5.Observar as variáveis ['ESTCIVMAE', 'CONSULTAS']  <a name="observar"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [8]:
print(f'ESTCIVMAE possui \033[1;31m {sinasc.ESTCIVMAE.isna().sum()} \033[0;0m linhas missing')

ESTCIVMAE possui  315  linhas missing

#### Alterando valores missing por 9 na coluna ESTCIVMAE

In [9]:
sinasc[sinasc.ESTCIVMAE.isna()==True] = sinasc[sinasc.ESTCIVMAE.isna()==True].fillna(9)

#### Conferindo se os valores foram tratados

In [10]:
print(f' \033[0;32m{sinasc.ESTCIVMAE.isna().sum()} \033[0;0m linha missing')

 0  linha missing

#### Mudando o tipo da coluna, para padronizar de acordo com o dicionário.

In [11]:
sinasc.ESTCIVMAE = sinasc.ESTCIVMAE.astype(int)

#### Verificando se o novo tipo da variável ESTCIVMAE está correto.

In [12]:
sinasc.dtypes

LOCNASC         int64
IDADEMAE        int64
ESTCIVMAE       int64
ESCMAE         object
QTDFILVIVO    float64
GESTACAO       object
GRAVIDEZ       object
CONSULTAS       int64
APGAR5        float64
dtype: object

#### Confirmando se há  algum missing na coluna ESTCIVMAE

In [13]:
sinasc['ESTCIVMAE'].isna().sum()

0

#### Alterando valores missing por 9 na coluna CONSULTAS

In [14]:
sinasc[sinasc.CONSULTAS.isna()==True].fillna(9)

Empty DataFrame
Columns: [LOCNASC, IDADEMAE, ESTCIVMAE, ESCMAE, QTDFILVIVO, GESTACAO, GRAVIDEZ, CONSULTAS, APGAR5]
Index: []

#### Verificando se há  missing na coluna CONSULTAS

In [15]:
sinasc['CONSULTAS'].isna().sum()

0

# 6. Substitua os valores faltantes da quantitativa (QTDFILVIVO) por zero.  <a name="substituir"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

 #### Verificando a quantidade de linhas missing na coluna QTDFILVIVO

In [16]:
print(f'\033[1;31m{sinasc.QTDFILVIVO.isna().sum()}\033[0;0m linhas missing')

1537 linhas missing

#### Atribuindo 0 nas células missing da coluna QTDFILVIVO.

In [17]:
sinasc.loc[sinasc.QTDFILVIVO.isna()==True] = sinasc[sinasc.QTDFILVIVO.isna()==True].fillna(0)

#### Padronizando com o Dicionário.

In [18]:
sinasc['QTDFILVIVO'] = sinasc['QTDFILVIVO'].astype(int)

#### Conferindo os tipos das colunas

In [19]:
sinasc.dtypes

LOCNASC         int64
IDADEMAE        int64
ESTCIVMAE       int64
ESCMAE         object
QTDFILVIVO      int64
GESTACAO       object
GRAVIDEZ       object
CONSULTAS       int64
APGAR5        float64
dtype: object

<a name="decidir"></a>
# 7. Decida que valor te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' e preencha.  

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

#### Verificando quais colunas ainda possuem valores missing (ESCMAE)

In [20]:
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         243
QTDFILVIVO       0
GESTACAO      1083
GRAVIDEZ        64
CONSULTAS        0
APGAR5           0
dtype: int64

#### Além dos missings há o 0 como um valor diferente do dicionário

In [21]:
pd.unique(sinasc['ESCMAE'])

array(['8 a 11 anos', '12 anos ou mais', '1 a 3 anos', '4 a 7 anos', nan,
       9, 'Nenhuma', 0], dtype=object)

#### Preenchendo a escolaridade da mãe onde está missing com 9, porque no dicionário o padrão colocado é 9 para Ignorado

In [22]:
sinasc.loc[sinasc['ESCMAE'].isna() == True] = 9

Empty DataFrame
Columns: [LOCNASC, IDADEMAE, ESTCIVMAE, ESCMAE, QTDFILVIVO, GESTACAO, GRAVIDEZ, CONSULTAS, APGAR5]
Index: []

#### Conferindo se as modificações foram feitas, filtrando os missings.

In [ ]:
sinasc[sinasc.ESCMAE.isna() == True]

#### Considerei que 0 é um valor fora do dicionário, portanto optei em colocar como ignorado.

In [23]:
sinasc[sinasc.ESCMAE == 0] = 9

sinasc[sinasc.ESCMAE == 0]

Empty DataFrame
Columns: [LOCNASC, IDADEMAE, ESTCIVMAE, ESCMAE, QTDFILVIVO, GESTACAO, GRAVIDEZ, CONSULTAS, APGAR5]
Index: []

#### Verificando quais colunas ainda possuem valores missing (GESTACAO)

In [24]:
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE           0
QTDFILVIVO       0
GESTACAO      1060
GRAVIDEZ        64
CONSULTAS        0
APGAR5           0
dtype: int64

#### Além dos missings há o 0 como um valor diferente do dicionário

In [25]:
pd.unique(sinasc['GESTACAO'])

array(['37 a 41 semanas', '42 semanas e mais', '32 a 36 semanas', 9,
       '22 a 27 semanas', '28 a 31 semanas', nan, 0,
       'Menos de 22 semanas'], dtype=object)

#### Preenchendo a GESTACAO onde está missing com 9, porque no dicionário o padrão colocado é 9 para Ignorado.

In [ ]:
sinasc[sinasc.GESTACAO.isna() == True] = 9

#### Considerei que 0 é um valor fora do dicionário, portanto optei em colocar como ignorado também.

In [ ]:
sinasc[sinasc.GESTACAO == 0] = 9

#### Conferindo se as modificações foram feitas, filtrando os missings.

In [26]:
print(f'{sinasc.GESTACAO.isna().sum()} Linhas Missing.')

0 Linhas Missing.

#### Conferindo se as modificações foram feitas, filtrando o valor 0.

In [27]:
sinasc[sinasc.GESTACAO == 0]

Empty DataFrame
Columns: [LOCNASC, IDADEMAE, ESTCIVMAE, ESCMAE, QTDFILVIVO, GESTACAO, GRAVIDEZ, CONSULTAS, APGAR5]
Index: []

#### Verificando quais colunas ainda possuem valores missing (GRAVIDEZ)

In [28]:
sinasc.isna().sum()

LOCNASC        0
IDADEMAE       0
ESTCIVMAE      0
ESCMAE         0
QTDFILVIVO     0
GESTACAO       0
GRAVIDEZ      49
CONSULTAS      0
APGAR5         0
dtype: int64

#### Além dos missings há o 0 como um valor diferente do dicionário

In [29]:
pd.unique(sinasc['GRAVIDEZ'])

array(['Única', 'Dupla', 9, nan, 0, 'Tríplice e mais'], dtype=object)

#### Preenchendo a GRAVIDEZ onde está missing com 9, porque no dicionário o padrão colocado é 9 para Ignorado.

In [30]:
sinasc[sinasc.GRAVIDEZ.isna() == True] = 9

sinasc[sinasc.GRAVIDEZ.isna() == True] # Conferindo o filtro

Empty DataFrame
Columns: [LOCNASC, IDADEMAE, ESTCIVMAE, ESCMAE, QTDFILVIVO, GESTACAO, GRAVIDEZ, CONSULTAS, APGAR5]
Index: []

#### Considerei que 0 é um valor fora do dicionário, portanto optei em colocar como ignorado também.

In [31]:
sinasc[sinasc.GRAVIDEZ == 0] = 9

sinasc[sinasc.GRAVIDEZ == 0] # Conferindo o filtro

Empty DataFrame
Columns: [LOCNASC, IDADEMAE, ESTCIVMAE, ESCMAE, QTDFILVIVO, GESTACAO, GRAVIDEZ, CONSULTAS, APGAR5]
Index: []

#### Verificando quais colunas ainda possuem valores missing

In [32]:
sinasc.isna().sum()

LOCNASC       0
IDADEMAE      0
ESTCIVMAE     0
ESCMAE        0
QTDFILVIVO    0
GESTACAO      0
GRAVIDEZ      0
CONSULTAS     0
APGAR5        0
dtype: int64

<a name="crie"></a>
# 8. Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

#### Verificando valores e quantidade de linhas

In [33]:
sinasc[['APGAR5']]

       APGAR5
0        10.0
1         9.0
2        10.0
3        10.0
4        10.0
...       ...
27023     9.0
27024     9.0
27025    10.0
27026     9.0
27027     8.0

[26925 rows x 1 columns]

* Entre 8 e 10 está em uma faixa 'normal'.
* Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'.
* Entre 4 e 5 significa 'asfixia moderada'.
* Entre 0 e 3 significa 'asfixia severa'.

#### Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.

In [34]:
sinasc.loc[sinasc['APGAR5'] <= 3, 'apgar_cat'] = 'asfixia severa'
sinasc.loc[sinasc['APGAR5'] >= 4, 'apgar_cat'] = 'asfixia moderada'
sinasc.loc[sinasc['APGAR5'] >= 6, 'apgar_cat'] = 'asfixia leve'
sinasc.loc[sinasc['APGAR5'] >= 8, 'apgar_cat'] = 'normal'

#### Conferindo as atribuições se estão corretas

In [35]:
sinasc[sinasc['APGAR5'] == 8].iloc[1, 8:]

APGAR5          8.0
apgar_cat    normal
Name: 33, dtype: object

In [36]:
sinasc[sinasc['APGAR5'] == 7].iloc[1, 8:]

APGAR5                7.0
apgar_cat    asfixia leve
Name: 243, dtype: object

In [37]:
sinasc[sinasc['APGAR5'] == 5].iloc[1, 8:]

APGAR5                    5.0
apgar_cat    asfixia moderada
Name: 1118, dtype: object

In [38]:
sinasc[sinasc['APGAR5'] == 3].iloc[1, 8:]

APGAR5                  3.0
apgar_cat    asfixia severa
Name: 4384, dtype: object

#### Frequências da categoria apgar_cat

In [39]:
sinasc['apgar_cat'].value_counts()

normal              26495
asfixia leve          303
asfixia severa         68
asfixia moderada       59
Name: apgar_cat, dtype: int64

<a name="renomear"></a>
# 9. Renomeie as variáveis para que fiquem no snake case, em letras minúsculas, com um underscore entre as palávras  

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

#### Verificando colunas

In [40]:
sinasc.columns

Index(['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 'GESTACAO',
       'GRAVIDEZ', 'CONSULTAS', 'APGAR5', 'apgar_cat'],
      dtype='object')

#### Renomeando variáveis

In [41]:
sinasc.columns = [
    'loc_nasc', 
    'idade_mae', 
    'est_civ_mae', 
    'esc_mae', 
    'qtd_fil_vivo', 
    'gestacao',
    'gravidez', 
    'consultas',
    'apgar5', 
    'apgar_cat'
]

sinasc.columns

Index(['loc_nasc', 'idade_mae', 'est_civ_mae', 'esc_mae', 'qtd_fil_vivo',
       'gestacao', 'gravidez', 'consultas', 'apgar5', 'apgar_cat'],
      dtype='object')