# Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe ](#read)
3. [Amostragem (sample)](#amostragem)
3. [Intro sobre métodos de string](#strings)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy  as np
import pandas as pd

# 2. Construindo um dataframe  <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
df = pd.DataFrame(np.random.randint(100000, size=(1000000, 10)),
             columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

# 3. Amostragem <a name="amostragem"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
df.shape

(1000000, 10)

In [6]:
df.sample(100)

            A      B      C      D      E      F      G      H      I      J
349288  37092  51616  62141  73228  58714  71892  47616  68795  46073  26622
10757   72806  65534  42249  74636  25556  72900   5328  18016  64140    625
456216  63250  88234  70303  58136  52518  40418   3582  96836  84273  72493
360963  90480  82777  80128  31386  26107  16388  83473  61440  44384  68177
746956  43399  60569  58054  53006  34924  45201  25665   3567  95844  31571
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
959680  14250  29215  10861  18980  57325  97974  30408  96018  78092  97380
332694  18191  92668  11898  63543  99363  80632  75220   8189  92361  97628
597289  72129  86054  69575  86209  18046  14024  31977  68474  80349   3181
607690  55521  55152  54001  61482   4089   2344  87842  78279  85321  35251
615005  93066   4428  33691  70064  14478  63766  65202  67531  24088   8691

[100 rows x 10 columns]

In [7]:
df.tail(100)

            A      B      C      D      E      F      G      H      I      J
999900   4886  28247  54731  73983  14639  39139  42829  50893  28739  65413
999901  21107  60654  93966  36021  30747  21240  17249   4062  53660  84015
999902  99667  94004  33500  10637  35537   3830  23024  86288  74837  92869
999903  33344  71071  15420  78868  20834  93306  24345  10104  89898  90036
999904  82143  13483  22464     84  29095  31381  20483  32319  33913  73899
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
999995  52748  56380  66009  79805  85130  63036  29122  90649  95610   5462
999996  20349  55864  62154   9845  62332  80710  17261  17253    144  42967
999997  56607  73877  41039  41320  16134  40298  95938  96859  54682  50632
999998  77732  65486     92  89474  37599  70341  25560  87522  96846  16932
999999  44216  14505  81468   6918  41534  16577  34379  50893  53693  26282

[100 rows x 10 columns]

In [5]:
df.sample(10, random_state=100)

            A      B      C      D      E      F      G      H      I      J
617759  34165  23117  42931  45091  91797  46403   2051  45579  85561  92241
693227  73611  21272  67389   9813  67897  76994  36274  92721  75678  56319
906065  64734  35042  38343  13812  47513  17630  27069  44071  30642  80946
828507  54185  53365  91452  27365  65031  31154   9296  41096  50541  80297
869730  38731  85001  48251  68688  13427  69071  49551  61835  34226   3337
147081   5107  90726  74696  11561  96358  80470   1795   2934  21132  21890
779428   4691  63288   2540  21426  96897  54311  12075  23871  80518  29788
485973  93095  78651  35613  28087  18263  70783  36353  46115  56042  94043
30697   53106  73561  96412  62072  38331  81111  87100  37520  29218  13557
306669  12791  61511  64354  93579  47361  19716  15778  51683  51399  78594

In [16]:
df.sample(frac=0.1, random_state=100)

            A      B      C      D      E      F      G      H      I      J
617759  34165  23117  42931  45091  91797  46403   2051  45579  85561  92241
693227  73611  21272  67389   9813  67897  76994  36274  92721  75678  56319
906065  64734  35042  38343  13812  47513  17630  27069  44071  30642  80946
828507  54185  53365  91452  27365  65031  31154   9296  41096  50541  80297
869730  38731  85001  48251  68688  13427  69071  49551  61835  34226   3337
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
599633  83653  67970  89139  47375  39215  61552  66493  70250  52700  90208
103907  92988  47267  72817   7743  74428  21514  15874  92764  31275  16218
536846  90063  81490  24760  74015  52577  53487   1410  79308  55705  19774
68354   18196  16852  55297  75135  36739  83869  60700  58143  91774  27770
762302    868  43644   4323   7960   9050  77914  45517  35498  24101  49902

[100000 rows x 10 columns]

# 4. Manipulação de strings - métodos <a name="strings"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [58]:
texto = 'texto'

In [59]:
texto[::-1]

'otxet'

In [64]:
palindromo = 'apos a sopa'

In [65]:
palindromo[::-1]

'apos a sopa'

In [67]:
texto = 'teXTO'
texto.capitalize()

'Texto'

In [68]:
texto.lower()

'texto'

In [70]:
texto.upper()

'TEXTO'

In [75]:
# S.find(sub[, start[, end]]) -> int
texto.find('X')

2

In [78]:
texto[2]

'X'

In [76]:
#S.find(sub[, start[, end]]) -> int
texto.find('x')

-1

In [77]:
#texto.replace(antigo, novo)
texto.replace('XTO','sta')

'testa'